.dropzone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	padding: 10px;
	background: #011638;
}

button.file-btn {
	margin-top: 20px;
	font-weight: bold;
	color: white;
	width: 200px;
	padding: 12px;
	font-size: medium;
	background: #4a4e69;
	border: 1px dashed rgb(117, 112, 112);
}

.text {
	color: azure;
	font-family: cursive;
}
.or {
	margin: 10px 0;
}
