/*------head-----------*/
.head {
	background-color: #0f3460;
	padding: 10px 0;
	color: #fff;
}
.head i {
	margin-right: 10px;
}
.head label {
	margin-right: 30px;
	font-size: 13px;
}
/*------head-----------*/

.cart {
	position: relative;
}
.search .cart span {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	background-color: #e94560;
	font-size: 12px;
	color: #fff;
}

.navlink {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	height: 8vh;
	box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}
header ul {
	line-height: 8vh;
}
header ul li {
	margin-left: 30px;
}
header ul li a {
	transition: 0.5s;
	font-size: 15px;
	font-weight: 400;
}
header ul li a:hover {
	color: #ff014f;
}

@media (max-width: 768px) {
	header ul {
		padding-top: 30px;
	}
	header ul li {
		width: 100%;
		transition: all 0.5s ease-in-out;
		text-transform: uppercase;
		line-height: 70px;
	}
	header .link {
		display: none;
	}
	.close,
	.open {
		position: absolute;
		top: 35px;
		right: 20px;
		color: #ff014f;
		display: block;
		font-size: 25px;
		z-index: 999;
	}
	.close {
		right: 45%;
	}
	.close.home-btn {
		background: linear-gradient(145deg, #e2e8ec, #ffffff);
		color: #ff014f;
		border-radius: 50%;
		padding: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	.header.active {
		height: 10vh;
	}
}

button.logOut {
	background-color: transparent;
	color: black;
	height: 30px;
	width: 30px;
}
